<h1>Editing discord channel</h1>

<%= render "form", discord_channel: @discord_channel %>

<br>

<div>
  <%= link_to "Show this discord channel", @discord_channel %> |
  <%= link_to "Back to discord channels", discord_channels_path %>
</div>
